[access]
	inheritFrom = All-Projects
[project]
	description = Find customers within a certain range 
[access "refs/*"]
	owner = group user/seamus91g
[access "refs/for/refs/*"]
	read = group user/seamus91g
	push = group user/seamus91g
	label-Code-Review = -2..+2 group user/seamus91g
	label-Verified = -1..+1 group user/seamus91g
	rebase = group user/seamus91g
	removeReviewer = group user/seamus91g
	submit = group user/seamus91g
[access "refs/heads/*"]
	read = group user/seamus91g
	create = group user/seamus91g
	push = +force group user/seamus91g
	pushMerge = group user/seamus91g
[access "refs/tags/*"]
	push = group user/seamus91g
	push = +force group user/seamus91g
